<div class="container adjust">

    <div class="row prod adjust">
        <div class="col-6"><img src={{product.url}} class="img rounded"></div>
        <div class="col-6 det " >
        
            <h2>{{product.name}}</h2>
            <h3>${{product.price}}</h3>
            <h3>{{product.description}}</h3>
            <select name="qrt" [(ngModel)]="cartProd.qty" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select><br><br>
            <button class="btn btn-primary" (click)="addToCart()">Add to cart</button><br><br>
            <a href="" routerLink="/">back to list</a>


        </div>
    </div>

</div>



