.img
    {
        max-width: 70%;
        max-height: 100%;
        margin-bottom: 10px;
    }

    .det{

        padding-top: 90px;
    }
    
    .adjust {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
}